<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.biotracking.healthsync.daily</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
	</array>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>Connects to the UV wearable to relay sample data when WiFi isn't available.</string>
	<key>NSHealthShareUsageDescription</key>
	<string>This is for syncing with the flask server that does the autoimmune flare forecasting stuff.</string>
</dict>
</plist>
